@import "~antd/dist/antd.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-container {
  display: flex;
  padding-top: 1rem;
  padding-left: 0.5rem;
  justify-content: center;
}
.log-action-container {
  padding: 0 1rem;
}

.property-stats {
  padding-top: 1rem;
  p {
    font-weight: 500;
  }
}

.dashboard-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
}
